body {
    margin: 40px;
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [col] 100px [col] 100px [col] 100px [col] 100px;
    grid-template-rows: [row] auto [row] auto [row] auto;
    background-color: blue;
    color: coral;
}

.area {
    background-color: brown;
    color: aqua;
    padding: 20px;
    font-size: 150%;
    border-radius: 5px;
}

.box-a {
    grid-column: col / span 2;
    grid-row: row;
}

.box-b {
    grid-column: col 3/ span 2;
    grid-row: row;
}

.box-c {
    grid-column: col;
    grid-row: row 2;
}

.box-d {
    grid-column: col 2/ span 3;
    grid-row: row 2;
}

.box-e {
    grid-column: col / span 4;
    grid-row: row 3;
}