<!DOCTYPE html>
<html dir="auto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css" media="screen"></style>
    <link rel="stylesheet" href="layout.css">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="header area">Header</div>
    <div class="sidenav area">SideNav</div>
    <div class="content area">Content
        <br /> Welcome to WEB504 Class with HTML CSS and Javascript!
    </div>
    <div class="footer area">Footer</div>
</div>
</body>
</html>